* {
  margin: 0px;
  padding: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.Container {

  height: 100vh;
  display: flex;
 
}


.GradeProdutos {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding: 16px;
  gap: 8px;

}

/*FILTRO*/
/*FILTRO*/
/*FILTRO*/

.Filtros {
  margin: 20px 150px 0 2%;  text-align: start;  border: 1px solid black;  padding: 8px;
}

.Filtros>h2 {
  margin: 20px 0px 20px 10px;

}
.Label{ 
  display: flex;  flex-direction: column;  align-items: flex-start;  margin-bottom: 10px;
}

/* CARRINHO*/
/* CARRINHO*/
/* CARRINHO*/

.Carrinho{
  margin: 20px 150px 0 2%;  text-align: start;  border: 1px solid black;  padding: 8px;

}

.Carrinho>h2{

  margin: 20px 0px 20px 10px;
}
 .item{
  display: grid;
    grid-auto-flow: column;
    gap: 4px;
    -webkit-box-align: center;
    align-items: center;
 }


 .box-pagina-principal {
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-template-columns: 1fr;
  border-style: solid;
  border-width: thin;
  align-items: start;
  justify-items: stretch;
}